For “ietf-ac-ntw”, can 'Attachment Circuits'-as-a-Service be used as a service type?

Can 'Attachment Circuits'-as-a-Service be a service type?

```
    augment /nw:networks/nw:network/nw:node:
              +--rw service* [service-type]
                 +--rw **service-type**                   identityref
                 +--rw sap* [sap-id]
```

As defined in RFC9408, 'service-type' are all connectivity services:

   A SAP network topology can be used for one or multiple service types
   ('service-type').  Examples of supported service types are as
   follows:

   *  L3VPN [RFC4364],

   *  Virtual Private LAN Service (VPLS) [RFC4761][RFC4762],

   *  Virtual Private Wire Service (VPWS) [RFC8214],

   *  BGP MPLS-Based Ethernet VPN [RFC7432],

   *  VPWS in Ethernet VPN [RFC8214],

   *  Provider Backbone Bridging Combined with Ethernet VPN (PBB-EVPN)
      [RFC7623],

   *  VXLAN-based EVPN [RFC8365],

   *  Virtual Networks [RFC8453],

   *  Enhanced VPN (VPN+) [I-D.ietf-teas-enhanced-vpn],

   *  Network slice [I-D.ietf-teas-ietf-network-slices],

   *  SDWAN [I-D.ietf-bess-bgp-sdwan-usage], and

   *  Basic IP connectivity.

@lana-wu to report back on the need, including lack of clarity in the text.

For the ac-sap-figure attached, is the following is a valid example?
If the example is correct, It seems to me, compared with the SAP model, the AC augmentation does not add more information here.  

Network 1
node1 PE1
tp list
interface 1/0/1
interface 1/0/1.1
interface 1/0/1.1
interface 1/0/2
interface 1/0/3


SAP Network 1
Node 1
	l3vpn
		sap1
			interface 1/0/1
			ac1
			interface 1/0/1.1 L3
			ac2
			interface 1/0/1.2
		sap2			
			interface 1/0/2
			ac3
			interface 1/0/2
		sap3			
			interface 1/0/3	
			ac1
			interface 1/0/3			
		sap4			
			interface 1/0/1.2
			ac2			
			interface 1/0/1.2	
		sap5			
			interface 1/0/1.1 L3
			ac1
			interface 1/0/1.1 
		
	l2vpn
		sap1
			interface 1/0/1
			ac1
			interface 1/0/1.1 L3
			ac2
			interface 1/0/1.2
		sap2			
			interface 1/0/2
			ac3
			interface 1/0/2
		sap3			
			interface 1/0/3	
			ac1
			interface 1/0/3			
		sap4			
			interface 1/0/1.2
			ac2			
			interface 1/0/1.2	
		sap5			
			interface 1/0/1.1 L3
			ac1
			interface 1/0/1.1 	
[ac-sap-figure.txt](https://github.com/boucadair/attachment-circuit-model/files/13485289/ac-sap-figure.txt)


I suggest that you look at the example in https://datatracker.ietf.org/doc/html/[draft-ietf-opsawg-ntw-attachment-circuit-02](https://datatracker.ietf.org/doc/html/draft-ietf-opsawg-ntw-attachment-circuit-02#name-an-example)#name-an-example. Thanks.

@lana-wu will suggest a PR